$link-color: #0078d4;
$btn-primary-color: #0078d4;
$nav-child-link-color: #005a9e;
$sidebar-color: #f5fbff;
$body-background-color: #ffffff;
$search-background-color: #ffffff;
$code-background-color: #f3f9fd;
